---
layout: layouts/base.njk
---
<p class="text-xl">
	{{ content | safe }}
</p>

<h2 class="pt-10 leading-10 sm:text-4xl text-2xl font-bold pb-5 font-serif">{{ messages[page.lang]["involvements"] }}</h2>
<div class="md:grid md:grid-cols-2 xl:grid-cols-3 md:gap-10 max-w-[1800px]">
  <!-- how to iterate the global files in _data/: https://github.com/11ty/eleventy/issues/304#issuecomment-440678396 -->
  {%- for key, data in projects -%}
    <div class="md:self-start pb-14 md:pb-6">
      <div class="border-2 border-stone-800">
        <a href="{{ data["url_" + page.lang] }}">
          <img src="{{ data["image"] }}" alt="{{ data["name"] }}">
        </a>
      </div>
      <div class="{{ "involvement-active" if data["active"] else "involvement-passive" }} text-xl py-5">
        {{ data["title_" + page.lang] | md | safe }}
      </div>
      
    </div>
  {%- endfor -%}
</div>

<p class="pt-10">
	<em>{{ messages[page.lang].copyright }}</em>
</p>
